<?xml version="1.0" encoding="UTF-8"?><plugin><author>将军</author><description>歪酷留言本</description><copyright>歪酷CMS</copyright><basic><field tag='input' name='short_name' alt='多说short_name' value='waikucms' /><field tag='input' name='title' alt='留言本标题' value='留言本'  extend="style='width:300px'"/><field tag='textarea' name='description' alt='留言本描述' value='请您留言!' /></basic><advance><field tag='select' name='tpltype' alt='模板类型'  fullvalue='插件自带模板,自定义模板'/><field tag='input' name='tplpath' alt='自定义模板路径' value='{style}/guestbook.htm' extend="style='width:300px;'"/></advance></plugin>