<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安装程序 - PPPON内容管理系统<?php echo $verMsg; ?></title>
<link rel="shortcut icon" href="myfav.ico" type="image/x-icon" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script charset="utf-8" src="../Public/Admin/js/Jquery.js"></script>
<script charset="utf-8" src="../Public/Common/artDialog/jquery.artDialog.js?skin=green"></script>
<script charset="utf-8" src="../Public/Common/artDialog/extend.js"></script>
<script>
	$(document).ready(function(){
	$('#do_next').click(function(){
		if(document.getElementById('readpact').checked==true)
		{
			$.dialog.tips('正在进行环境配置检测，请勿关闭浏览器...',120);
			window.location.href='index.php?step=2';
		}
		else
		{
			$.dialog.alert('您必须同意软件许可协议才能安装！');
		}
	
	});
	
	});
</script>
</head>

<body>

<div class="top">
	<div class="top-logo">
	</div>
	<div class="top-link">
		<ul>
			<li><a href="http://www.pppon.com" target="_blank">官方网站</a></li>
		</ul>
	</div>
	<div class="top-version">
		<!-- 版本信息 -->
		<h2>PPPON<?php echo $verMsg; ?></h2>
	</div>
</div>

<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="now">许可协议</li>
					<li>环境检测</li>
					<li>参数配置</li>
					<li>正在安装</li>
					<li>安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright">
		<div class="pr-title"><h3>阅读许可协议</h3></div>
		<div class="pr-agreement">
				<p>您正在安装的是PPPON-UTF-8编码 V1.0 Release build 20140908</p>
				<p>版权所有 (c)2014-2016，www.pppon.com 保留所有权利。 </p>
				<p>感谢您选择无界内容管理系统（以下简称PPPON），PPPON是无界科技开发的一款全能易用的CMS网站管理系统，基于 THINKPHP框架的技术开发，全部源码开放。</p>
				<p>PPPON 的官方网址是： <a href="http://www.pppon.com" target="_blank">www.pppon.com</a> </p>
				<p>为了使你正确并合法的使用本软件，请你在使用前务必阅读清楚下面的协议条款：</p>
			<strong>一、本授权协议适用且仅适用于 PPPON 1.x.x 版本，PPPON官方对本授权协议的最终解释权。</strong>
			<strong>二、协议许可的权利 </strong>
				<p>1、您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于非商业用途，而不必支付软件版权授权费用。 </p>
				<p>2、您可以在协议规定的约束和限制范围内修改 PPPON 源代码或界面风格以适应您的网站要求。 </p>
				<p>3、您拥有使用本软件构建的网站全部内容所有权，并独立承担与这些内容的相关法律义务。 </p>
				
			<strong>三、协议规定的约束和限制 </strong>
				<p>PPPON是基于THINKPHP框架开发的系统，遵循apache 2.0协议 ，允许客户基于本系统继续二次开发，但是系统的核心源码，请保留相关版权注释。</p>
				<p><b>版本最新更新：</b> 2014年09月08日 By PPPON.COM</p>
		</div>
		<div class="btn-box">
			<input name="readpact" type="checkbox" id="readpact" value="" /><label for="readpact"><strong class="fc-690 fs-14">我已经阅读并同意此协议</strong></label>
			<input type="button" class="btn-next" value="继续" id='do_next' />
		</div>
	</div>
	</div>
</body>
</html>
