<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安装程序 - PPPON内容管理系统<?php echo $verMsg; ?></title>
<link rel="shortcut icon" href="myfav.ico" type="image/x-icon" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script src="ajax.js" language="javascript" type="text/javascript"></script>
<script charset="utf-8" src="../Public/Admin/js/Jquery.js"></script>
<script charset="utf-8" src="../Public/Common/artDialog/jquery.artDialog.js?skin=green"></script>
<script charset="utf-8" src="../Public/Common/artDialog/extend.js"></script>
<script>
	$(document).ready(function(){
	$('#do_install').click(function(){
		 $.dialog.tips('正在安装，请勿关闭浏览器...',120);
		 document.form1.submit();
	});
	
	});
</script>
<script language="javascript" type="text/javascript">
<!--
 function $o(tid){
        return document.getElementById(tid);
    }
    function TestDb()
    {
		var dbhost = $o('dbhost').value;
        var dbuser = $o('dbuser').value;
        var dbpwd = $o('dbpwd').value;
		$o('havedbsta').innerHTML='<img src=\'images/ajax-loader.gif\'>';
        var myajax = new DedeAjax($o('dbpwdsta'),false,true,'-','-','...');
        myajax.SendGet2('index.php?step=10&dbhost='+dbhost+'&dbuser='+dbuser+'&dbpwd='+dbpwd);
		DedeXHTTP = null;
		HaveDB();
    }
	
	function HaveDB()
    {
		var dbhost = $o('dbhost').value;
        var dbname = $o('dbname').value;
        var dbuser = $o('dbuser').value;
        var dbpwd = $o('dbpwd').value;
        var myajax = new DedeAjax($o('havedbsta'),false,true,'-','-','...');
        myajax.SendGet2('index.php?step=10&dbhost='+dbhost+'&dbuser='+dbuser+'&dbpwd='+dbpwd+'&dbname='+dbname);
		DedeXHTTP = null;
    }
	    function DoInstall()
    {
        //$o('postloader').style.display = 'block';
        document.form1.submit();
    }
-->
</script>
</head>
<body>
<div id='postloader' class='waitpage'></div>
<form action="index.php" method="post" name="form1">
<input type="hidden" name="step" value="4"/>
<div class="top">
	<div class="top-logo">
	</div>
	<div class="top-link">
		<ul>
			<li><a href="http://www.pppon.com" target="_blank">官方网站</a></li>
		</ul>
	</div>
	<div class="top-version">
		<!-- 版本信息 -->
		<h2>PPPON<?php echo $verMsg; ?></h2>
	</div>
</div>

<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
                    <li class="succeed">许可协议</li>
                    <li class="succeed">环境检测</li>
                    <li class="now">参数配置</li>
                    <li>正在安装</li>
                    <li>安装完成</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="pright">   
        <div class="pr-title"><h3>数据库设定</h3></div>
        <table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr>
                <td class="onetd"><strong>数据库主机：</strong></td>
                <td><input name="dbhost" id="dbhost" type="text" value="localhost" class="input-txt" />
                <small>一般为localhost</small></td>
            </tr>
            <tr>
                <td class="onetd"><strong>数据库用户：</strong></td>
                <td><input name="dbuser" id="dbuser" type="text" value="root" class="input-txt" /></td>
            </tr>
            <tr>
                <td class="onetd"><strong>数据库密码：</strong></td>
                <td>
                  <div style='float:left;margin-right:3px;'><input name="dbpwd" id="dbpwd" type="text" class="input-txt" onChange="TestDb();" /></div>
                  <div style='float:left' id='dbpwdsta'></div>
                </td>
            </tr>
			<tr>
                <td class="onetd"><strong>数据库名称：</strong></td>
                <td>
                    <div style='float:left;margin-right:3px;'><input name="dbname" id="dbname" type="text" value="<?php echo $dfDbname; ?>" class="input-txt" onChange="HaveDB();" /></div>
					<div style='float:left' id='havedbsta'></div>
                </td>
            </tr>
			<tr>
                <td class="onetd"><strong>数据表前缀：</strong></td>
                <td><input name="dbprefix" id="dbprefix" type="text" value="wk_" class="input-txt" />
                        <small>如无特殊需要,请不要修改</small></td>
            </tr>
			<tr>
                <td class="onetd"><strong>数据库编码：</strong></td>
                <td>
                        <?php
                        if($s_lang=='utf-8')
                        {
                        ?>
                        <input type="radio" name="dblang" id="dblang_utf8" value="utf8" checked="checked" /><label for="dblang_latin1">UTF8</label>
                        <?php
                        }
                        else
                        {
                        ?>
                        <input type="radio" name="dblang" id="dblang_gbk" value="gbk" checked="checked" /><label for="dblang_gbk">GBK</label>
                        <input type="radio" name="dblang" id="dblang_latin1" value="latin1" /><label for="dblang_latin1">LATIN1</label>
                        <?php
                        }
                        ?>
                        <small>仅对4.1+以上版本的MySql选择</small>
                </td>
            </tr>
        </table>

        <div class="pr-title"><h3>管理员初始设置</h3></div>
        <table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr>
                <td class="onetd"><strong>用户名：</strong></td>
                <td>
                    <input name="adminuser" id="adminuser" type="text" value="admin" class="input-txt" />
                    <p><small>只能用'0-9'、'a-z'、'A-Z'、'.'、'@'、'_'、'-'、'!'以内范围的字符</small></p>
                </td>
            </tr>
            <tr>
                <td class="onetd"><strong>密　码：</strong></td>
                <td><input name="adminpwd"  id="adminpwd" type="text" value="admin888" class="input-txt" /></td>
            </tr>
			<tr>
                <td class="onetd"><strong>安全密码：</strong></td>
                <td><input name="safeadminpwd"  id="safeadminpwd" type="text" value="admin888" class="input-txt" /></td>
            </tr>
			 <tr>
                <td class="onetd"><strong>Cookie加密码：</strong></td>
                <td><input name="cookieencode" type="text" value="<?php echo $rnd_cookieEncode; ?>" class="input-txt" /></td>
            </tr>
        </table>
		<div class="pr-title"><h3>网站设置</h3></div>
        <table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr>
                <td class="onetd"><strong>网站名称：</strong></td>
                <td>
                    <input name="cfg_webname" type="text" value="我的网站" class="input-txt" />
                </td>
            </tr>
            <tr>
                <td class="onetd"><strong> 站点根网址：</strong></td>
                <td><input name="cfg_basehost" type="text" value="<?php echo $cfg_basehost; ?>" class="input-txt" /></td>
            </tr>
			 <tr>
                <td class="onetd"><strong> CMS安装目录：</strong></td>
                <td><input name="cfg_cmspath" type="text" value="<?php echo $cfg_cmspath; ?>" class="input-txt" /></td>
            </tr>
        </table>
		<div class="pr-title"><h3>安装测试体验数据</h3></div>
        <table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr>
                <td colspan="2"><label for="installdemo"><strong> 
                    <input name="installdemo" type="checkbox" id="installdemo" value="1" checked/>
                安装初始化数据进行体验</strong>(体验数据将含带PPPON大部分功能的应用操作示例)</label></td>
          </tr>
        </table>
        <div class="btn-box">
    <input type="button" class="btn-back" value="后退" onclick="window.location.href='index.php?step=2';" />
            <input type="button" class="btn-next" value="开始安装" conclick="DoInstall();" id='do_install'  />
      </div>
    </div>
</div>
</form>
</body>
</html>
