body {word-break:break-all;background-color:#ebeff2;color:#333;font-size:13px;line-height:120%;margin:0 auto;text-align:center;padding-top:5px;}
body,td {font-size:12px;}
p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,ul,li,img,blockquote,form { margin:0; padding:0; border:0; list-style:none;}
a {color:#282828;margin:2px;text-decoration:none;}
a:hover {color:#ff0000;text-decoration:none;}
html{
	overflow-x:hidden;
}
input, textarea,select {font-size: 12px; border:1px dashed #efefef;color: #A7A7A7;background-color:#fff;padding:5px;}
input:hover{background-color: #efefef;}
form {margin:0px;padding:0px;}

.title1 {text-align:left;font-weight:bold;padding-top:3px;}

.admintable {width:98%;border:0px solid #fff;margin-bottom:10px;background-color: #fff;padding: 5px;}
.admintable1 {width:98%;border:0px solid #fff;background-color: #fff;padding: 5px;}
.admintable tr td{height:24px;}

.admintitle {background:url(tab_14.gif);font-weight:bold;font-size:14px;padding:5px;text-align:left;}
.admintitle a:link,.admintitle a:visited {font-size:14px;}
.admintitle a:hover {color:#FF0000;}
.admintitle span {float:right;}

.tdleft{padding-left:10px;}

.b1 {background:#ffffff;}
.b1_1 {background:#FAFCF8;height:25px;padding-left:10px;text-align:left;}
.noborder {border:0}
.note {color:#999999}
.ButtonList {
	BORDER-RIGHT: #eb6a5a 2px solid; BORDER-TOP: #eb6a5a 2px solid; BORDER-LEFT: #eb6a5a 2px solid; CURSOR: default; BORDER-BOTTOM: #eb6a5a 2px solid; BACKGROUND-COLOR: #eb6a5a;font-weight:bold;text-align:center;color:#fff;
}
.bnt{background:url(bnt.gif) no-repeat center;color:#fff;border:0px;margin:0 5px;width:67px;}
	#page {width:100%;padding:15px 0;}
	#page ul{margin:0 auto; display:table;text-align:center;}
	#page li{float:left !important; float:none;margin-right: 2px; height:20px;line-height:20px;display:inline; zoom:1;}
	#page span{display: block; padding: 2px 5px; background: #F5FBFF; border: 1px solid #CCC; color: #999999; }
	#page a{font-size:12px;display: block; text-decoration: none; margin:0px; color: #ffffff;padding: 2px 5px 2px 5px;background:#eb6a5a;}
	#page a:link,#page a:visited {border: 1px solid #CCCCCC; }
	#page a:hover {background:#F5FBFF;color:#135C86;}
	#page #span1 {background:#FFFFFF;display: block;}

.s26 {border:1px solid #424242;font-weight:bold;font-size:14px;width:150px;color:#5f5f5f;}

.none {display:none;}
.nTableft {background:url(tab_14.gif);}
.TabTitleleft ul{}
.TabTitleleft li {float:left;background:url(tab_14.gif);font-weight:bold;font-size:14px;padding-top:5px;padding-bottom:5px;cursor:pointer;}
.TabTitleleft .active{color:#ff3636;background:url(tab_15.gif);border-left:1px solid #efefef;border-right:1px solid #efefef;}
.TabTitleleft .normal{color:#292929;background:url(tab_14.gif);border-bottom:1px solid #efefef;}
.nTableft td {text-align:left;height:22px;}
.css_col11 {background:#f6f6f6;}
.css_col12 {background:#ffffff;}
