/*  
*@Description: 顶栏  
*@Author:      Cream  
*@Update:      Cream(2014-08-30)  
*/ 
body,html,ul,li {margin: 0;padding: 0;}
body,td{font-size:12px;font-family: "Microsoft Yahei", "Times New Roman", "Courier New"; overflow-y: hidden;}
img{border: 0;}
ol, ul, li {list-style: none;}
.fll {float: left;}
#header{
	background: #333 url(HeaderBg.png) repeat-x;
	height:40px;
	z-index: 510;
}
.logo{
	margin-left:20px;
	margin-top:7px;
	float:left;
	display: block;
	cursor: pointer;
}
.list_left li, .search, .user{
	float:left;
	position:relative;
	display:inline;
}
.list_left{
	margin-left:40px;
	float:left;
}
.list_left li{
	width:95px;
	height:40px;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-delay: 0;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: all;
    -moz-transition-duration: 200ms;
    -moz-transition-delay: 0;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: all;
    -o-transition-duration: 200ms;
    -o-transition-delay: 0;
    -o-transition-timing-function: ease-in-out;
}
.list_left li.active, #header .active{
	background:#222222;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}
.list_left li a, .user a, .icon_userSurvey{
	display: inline-block;
	width: 52px;
	line-height: 40px;
	color:#bbbbbb;
	font-size:12px;
	text-decoration: none;
	padding-left: 40px;
}
.list_left li.active a{
	color: #fff;
}
.list_left li:first-child a{
	padding-left: 30px;
}
.user a{
	width: auto;
	padding-left: 10px;
}
.icon_contacter{
	background: url(icons.png) 4px 7px no-repeat;
}
.list_left li:hover .icon_contacter, .list_left li.active .icon_contacter{
	background-position: -117px 7px;
}
.icon_group{
	background: url(icons.png) 12px -41px no-repeat;
}
.list_left li:hover .icon_group, .list_left li.active .icon_group{
	background-position: -109px -41px;
}
.icon_mail{
	background: url(icons.png) 12px -136px no-repeat;
}
.list_left li:hover .icon_mail, .list_left li.active .icon_mail{
	background-position: -108px -136px;
}
.icon_sms{
	background: url(icons.png) 12px -184px no-repeat;
}
.list_left li:hover .icon_sms, .list_left li.active .icon_sms{
	background-position: -109px -184px;
}
.icon_form{
	background: url(icons.png) 12px -88px no-repeat;
}
.list_left li:hover .icon_form, .list_left li.active .icon_form{
	background-position: -109px -88px;
}
.list_left li a:hover,.user a:hover, .user_set li a:hover{
	color:#eeeeee;
}
.user.active .user>a{
	color: #fff;
}
.list_left li:hover, .wechatQRcode:hover, .gift:hover{
	background:#222222;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}
.list_left li:hover a{
	color:#ffffff;
}

.userSurvey{
	float: right;
}
.icon_userSurvey{
	color: #899E6A;
	padding-left: 25px;
	width: 61px;
	background: url(userSurvey.png) no-repeat;
}
.icon_userSurvey:visited{
	color: #899E6A;
}

.account{
	float: right;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	position: relative;
	cursor: default;
}
.icon_account{
	width: 56px;
	background: url(account.png) 8px 9px no-repeat;
	height:26px;
	padding: 7px;
	padding-left: 30px;
	display: block;
}
.account_box {
	color: #bbbbbb;
	padding: 2px 10px 2px 15px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #1B1E20;
	border-radius: 3px;
	background: #272B2E;
	box-shadow: 0px 1px 3px #1B1E20 inset,0 1px 0px #585858;
	transition-property: all;
	transition-duration: 200ms;
	transition-delay: 0;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 200ms;
	-webkit-transition-delay: 0;
	-webkit-transition-timing-function: ease-in-out;
}
.account:hover .account_box{
	color: #ffffff;
}
.gift{
	float: right;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	position: relative;
	cursor: pointer;
}
.icon_gift{
	width: 56px;
	background: url(gift.png) 12px 4px no-repeat;
	height: 40px;
	display: block;
}

.wechatQRcode{
	float: right;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	position: relative;
}
.icon_wechatQRcode{
	width: 56px;
	background: url(wechat_icon.png) 18px 11px no-repeat;
	height: 40px;
	display: block;
}
.wechat_showplace{
	position: absolute;
	top: 30px;
	right: -28px;
	width: 108px;
	height: 108px;
	background: url(wechatQRcode.png) no-repeat;
	z-index: 200;
	display: none;
	opacity: 0;
}

.user{
	width: auto;
	height:40px;
    background: none;
	cursor:pointer;
	float:right;
	padding-right: 26px;
	margin-right: 10px;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	z-index: 510;
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-delay: 0;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: all;
    -moz-transition-duration: 200ms;
    -moz-transition-delay: 0;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: all;
    -o-transition-duration: 200ms;
    -o-transition-delay: 0;
    -o-transition-timing-function: ease-in-out;
}
.user_main{background: none;}
.icon_user{
	width:17px;
	height:17px;
	margin-left:12px;
	margin-top:12px;
	float:left;
	background: url(icons.png) -4px -245px no-repeat;
}
.icon_pulldown{
	position: absolute;
	right: 0;
	width:8px;
	height:6px;
	margin-left:10px;
	margin-right:10px;
	margin-top:16px;
	background: url(pulldown.png) no-repeat;
}
.user:hover{
	background:#222222;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}
.user:hover .a_user{
	color:#ffffff;
}
.user:hover .icon_user, .user.active .icon_user{
	background-position: -124px -245px;
}
.user:hover .icon_pulldown, .user.active .icon_pulldown{
	background: url(arrowWhite.png) no-repeat;
}
.user:hover .user_set,.user_hover .user_set{
	display: block;
	text-align: left;
	position: relative;
	right: -1px;
	top:40px;
	z-index: 510;
	display: block;
	position: absolute;
}
.user_set{
	display:none;
	width: 100px;
	background: #ffffff;
	border: 1px solid #C2C2C2;
	border-top: 0;
	border-bottom: 0;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;
	z-index:510;
}
.user.active .user_set{
	color: #fff;
}
.user_set li{
	height:32px;
	border-bottom: 1px solid #D4D9DF;
}
.user_set li a{
	padding: 0 10px;
	height: 32px;
	color: #333333;
}
.user_set li:hover{
	background: #3586C1;
}
.user_set li:hover a{
	color: #ffffff;
}

.fhead{
    position: fixed;
    top: 0;
    left: 0;
height: 40px;
    width: 100%;
}
.fmain{
    width: 100%;
    height: 100%;    
    background-color: #ebeff2;
}
.fsider{
    width:177px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 40px;
    overflow: hidden;
}
.fcenter{
    width: auto;
    height: 100%;
    margin-left: 197px;
    margin-top: 40px;
}
.switch{
    position: fixed;
    left: 177px;
    top: 50%;
    width: 24px;
    height: 24px;
}